@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Saira+Extra+Condensed');

body  {
  font-family:'Roboto';
  padding-top: 54px;
  color: #4f575e !important;
  background: #fcfcfc !important; 
  padding: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family:'Saira Extra Condensed', 'Roboto' !important;
  text-transform: uppercase;
  color: #2e313c !important;    
      
}
.main h1 {
  font-size: 7em;
  font-weight: 700;
}
.main h2{
   font-size: 3em;
   font-weight: 700;  
   text-align: center; 
   color: #237385 !important;


}
.main p{
    font-size: 19px;
    font-weight: 350;  
}
.main .infoP{
    font-size: 23px;
    font-family:'Saira Extra Condensed', 'Roboto';  
    margin-top: -28px;
    margin-bottom: 2em;
    font-weight: 600;  
}
.navbar {
      margin-bottom: 0;
      border-radius: 0 !important;
      
    }
    
.navbar-nav{
    width: 100%; /*для размещения навбара по центру */
}
.list-social-icons a {
  color: #2e313c;
}

.list-social-icons a:hover {
  color: #237385;
}

.list-social-icons a .fa-lg {
  font-size: 2em;
}

.list-icons {
  font-size: 36px;
}

.list-icons .list-inline-item i:hover {
  color: #237385;
}
.main > .container-fluid{
    margin-bottom: 5em; 
    background: #fcfcfc;
    box-shadow: 0px 1px 2px 3px rgba(0, 0, 0, .2);
    height: 100%;
    border-radius: 5px; 
  
    
}
.content{
    margin-left: 2em;
}
    
   
    .row .content {height: 450px;}
    /* запрос для отображение садбара*/
    @media (min-width:960px){
        .navbar-inverse{
            height: 100%;
            width: 17.5%;
            position: fixed !important;
            z-index: 1;
            top: 0;
            left: 0;
            background-color:#2e313f !important; 
            overflow-x: hidden;
            padding-top: 20px; 
            border-radius: 10px;
           
           
       
          
        }
        .nav{
             margin-top: 9em !important;
             
        }
        .nav > li{
             float: initial !important;
            
             
            
        }
        .main{
            margin-top:5em;
        }
        .main {
            margin-left: 18em;
            margin-right: 1em;
         
           
        }
        .main .container-fluid{
          padding: 1em  1em 1em 1em ;
            
        }  
    }
     @media (min-width:700px){
        .img-circle{
            width: 40px; 
            height: 40px;
            margin: 0.25em 0 0.25em 0;
        }

     }
        @media (max-width:700px){
        .img-circle{
            width: 120px; 
            height: 120px;
        }
    }
    @media (min-width:960px){
        .img-circle{
            width: 120px; 
            height: 120px;
        }
    }

      @media (max-width:960px){
      .main{
            padding: 0 1em 0 1em;
    
    }
}